<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<select id="option-select">
		<option value="newpost">最新貼文</option>
		<option value="oldpost">最舊貼文</option>
	</select>
    <input id="message" type="text" name="message">
	<button id="submit-btn">search</button>
	<hr>
	<div id="result"><%= posts %></div>
</body>
</html>